In [1]:
from data_processing import load_data
from datetime import datetime
import pandas as pd

df = load_data('../data')
display(df)
# TODO: Handle missing values, outliers, etc.
# Convertir la columna StartTime en formato datetime
df["StartTime"] = pd.to_datetime(df["StartTime"], format="%Y-%m-%dT%H:%M%zZ")

# Eliminar la columna EndTime
df = df.drop("EndTime", axis=1)

# Reemplazar los valores faltantes por la media entre los valores anteriores y posteriores
df = df.interpolate()
display(df)

,StartTime,EndTime,AreaID,UnitName,PsrType,quantity,Load
0,2021-12-31T23:45+00:00Z,2022-01-01T00:00+00:00Z,10Y1001A1001A83F,MAW,B01,4333.0,NaN
1,2022-01-01T00:00+00:00Z,2022-01-01T00:15+00:00Z,10Y1001A1001A83F,MAW,B01,4325.0,NaN
2,2022-01-01T00:15+00:00Z,2022-01-01T00:30+00:00Z,10Y1001A1001A83F,MAW,B01,4319.0,NaN
3,2022-01-01T00:30+00:00Z,2022-01-01T00:45+00:00Z,10Y1001A1001A83F,MAW,B01,4323.0,NaN
4,2022-01-01T00:45+00:00Z,2022-01-01T01:00+00:00Z,10Y1001A1001A83F,MAW,B01,4328.0,NaN
...,...,...,...,...,...,...,...
2922162,2022-07-17T23:00+00:00Z,2022-07-17T23:30+00:00Z,10Y1001A1001A92E,MAW,NaN,NaN,603.0
2922163,2022-07-17T23:30+00:00Z,2022-07-18T00:00+00:00Z,10Y1001A1001A92E,MAW,NaN,NaN,582.0
2922164,2022-07-18T00:00+00:00Z,2022-07-18T00:30+00:00Z,10Y1001A1001A92E,MAW,NaN,NaN,563.0
2922165,2022-07-18T00:30+00:00Z,2022-07-18T01:00+00:00Z,10Y1001A1001A92E,MAW,NaN,NaN,554.0
2922166,2022-07-18T01:00+00:00Z,2022-07-18T01:30+00:00Z,10Y1001A1001A92E,MAW,NaN,NaN,552.0

,StartTime,AreaID,UnitName,PsrType,quantity,Load
0,2021-12-31 23:45:00+00:00,10Y1001A1001A83F,MAW,B01,4333.0,NaN
1,2022-01-01 00:00:00+00:00,10Y1001A1001A83F,MAW,B01,4325.0,NaN
2,2022-01-01 00:15:00+00:00,10Y1001A1001A83F,MAW,B01,4319.0,NaN
3,2022-01-01 00:30:00+00:00,10Y1001A1001A83F,MAW,B01,4323.0,NaN
4,2022-01-01 00:45:00+00:00,10Y1001A1001A83F,MAW,B01,4328.0,NaN
...,...,...,...,...,...,...
2922162,2022-07-17 23:00:00+00:00,10Y1001A1001A92E,MAW,NaN,0.0,603.0
2922163,2022-07-17 23:30:00+00:00,10Y1001A1001A92E,MAW,NaN,0.0,582.0
2922164,2022-07-18 00:00:00+00:00,10Y1001A1001A92E,MAW,NaN,0.0,563.0
2922165,2022-07-18 00:30:00+00:00,10Y1001A1001A92E,MAW,NaN,0.0,554.0
2922166,2022-07-18 01:00:00+00:00,10Y1001A1001A92E,MAW,NaN,0.0,552.0

In [2]:
  # Agrupar el dataframe por las columnas StartTime, AreaID, UnitName y PsrType, y sumar las columnas quantity y Load
df = df.groupby(["StartTime", "AreaID", "UnitName", "PsrType"])[["quantity", "Load"]].sum()
display(df)
# Desapilar el dataframe para convertir el Ã­ndice jerÃ¡rquico en columnas

                                                             quantity  Load
StartTime                 AreaID           UnitName PsrType
2021-12-31 23:00:00+00:00 10Y1001A1001A65H MAW      B01         468.0   0.0
                                                    B04         215.0   0.0
                                                    B05         331.0   0.0
                                                    B06          37.0   0.0
                                                    B16           1.0   0.0
...                                                               ...   ...
2022-12-31 23:30:00+00:00 10YNL----------L MAW      B16           1.0   0.0
                                                    B17         405.0   0.0
                                                    B18        1204.0   0.0
                                                    B19        1831.0   0.0
                                                    B20        3827.0   0.0

[2224258 rows x 2 columns]

In [3]:
df = df.unstack(level=["AreaID", "UnitName", "PsrType"])
display(df)
# Reagrupar el dataframe por horas, y sumar las columnas quantity y Load

                                  quantity                                  \
AreaID                    10Y1001A1001A65H
UnitName                               MAW
PsrType                                B01    B04    B05   B06  B16    B17
StartTime
2021-12-31 23:00:00+00:00            468.0  215.0  331.0  37.0  1.0  169.0
2021-12-31 23:45:00+00:00              NaN    NaN    NaN   NaN  NaN    NaN
2022-01-01 00:00:00+00:00            511.0  212.0  331.0  37.0  1.0  169.0
2022-01-01 00:15:00+00:00              NaN    NaN    NaN   NaN  NaN    NaN
2022-01-01 00:30:00+00:00              NaN    NaN    NaN   NaN  NaN    NaN
...                                    ...    ...    ...   ...  ...    ...
2022-12-31 22:30:00+00:00              NaN    NaN    NaN   NaN  NaN    NaN
2022-12-31 22:45:00+00:00              NaN    NaN    NaN   NaN  NaN    NaN
2022-12-31 23:00:00+00:00              NaN    NaN    NaN   NaN  NaN    NaN
2022-12-31 23:15:00+00:00              NaN    NaN    NaN   NaN  NaN    NaN
2022-12-31 23:30:00+00:00              NaN    NaN    NaN   NaN  NaN    NaN

                                                                 ...  \
AreaID                                    10YES-REE------0       ...
UnitName                                               MAW       ...
PsrType                       B18     B19              B01  B02  ...
StartTime                                                        ...
2021-12-31 23:00:00+00:00  1875.0  1308.0            533.0  0.0  ...
2021-12-31 23:45:00+00:00     NaN     NaN              NaN  NaN  ...
2022-01-01 00:00:00+00:00  1904.0  1189.0            524.0  0.0  ...
2022-01-01 00:15:00+00:00     NaN     NaN              NaN  NaN  ...
2022-01-01 00:30:00+00:00     NaN     NaN              NaN  NaN  ...
...                           ...     ...              ...  ...  ...
2022-12-31 22:30:00+00:00     NaN     NaN            168.0  0.0  ...
2022-12-31 22:45:00+00:00     NaN     NaN            164.0  0.0  ...
2022-12-31 23:00:00+00:00     NaN     NaN            164.0  0.0  ...
2022-12-31 23:15:00+00:00     NaN     NaN            168.0  0.0  ...
2022-12-31 23:30:00+00:00     NaN     NaN            168.0  0.0  ...

                                      Load                        \
AreaID                    10YNL----------L      10YHU-MAVIR----U
UnitName                               MAW                   MAW
PsrType                                B19  B20              B06
StartTime
2021-12-31 23:00:00+00:00              NaN  NaN              NaN
2021-12-31 23:45:00+00:00              0.0  0.0              NaN
2022-01-01 00:00:00+00:00              0.0  0.0              NaN
2022-01-01 00:15:00+00:00              0.0  0.0              NaN
2022-01-01 00:30:00+00:00              0.0  0.0              NaN
...                                    ...  ...              ...
2022-12-31 22:30:00+00:00              0.0  0.0              0.0
2022-12-31 22:45:00+00:00              0.0  0.0              0.0
2022-12-31 23:00:00+00:00              0.0  0.0              0.0
2022-12-31 23:15:00+00:00              0.0  0.0              0.0
2022-12-31 23:30:00+00:00              0.0  0.0              0.0

                                                                \
AreaID                    10Y1001A1001A92E
UnitName                               MAW
PsrType                                B19  B04  B05  B06  B20
StartTime
2021-12-31 23:00:00+00:00              NaN  NaN  NaN  NaN  NaN
2021-12-31 23:45:00+00:00              NaN  NaN  NaN  NaN  NaN
2022-01-01 00:00:00+00:00              NaN  NaN  NaN  NaN  NaN
2022-01-01 00:15:00+00:00              NaN  NaN  NaN  NaN  NaN
2022-01-01 00:30:00+00:00              NaN  NaN  NaN  NaN  NaN
...                                    ...  ...  ...  ...  ...
2022-12-31 22:30:00+00:00              0.0  0.0  0.0  0.0  0.0
2022-12-31 22:45:00+00:00              NaN  NaN  NaN  NaN  NaN
2022-12-31 23:00:00+00:00              0.0  0.0  0.0  0.0  0.0
2022-12-31 23:15:00+00:00              NaN  NaN  NaN  NaN  NaN
2022-12-31 23:30:00+00:00              NaN  NaN  NaN  NaN  NaN


AreaID                    10YIT-GRTN-----B 10YES-REE------0
UnitName                               MAW              MAW
PsrType                                B18              B10
StartTime
2021-12-31 23:00:00+00:00              NaN              NaN
2021-12-31 23:45:00+00:00              NaN              NaN
2022-01-01 00:00:00+00:00              NaN              NaN
2022-01-01 00:15:00+00:00              NaN              NaN
2022-01-01 00:30:00+00:00              NaN              NaN
...                                    ...              ...
2022-12-31 22:30:00+00:00              NaN              0.0
2022-12-31 22:45:00+00:00              NaN              0.0
2022-12-31 23:00:00+00:00              NaN              0.0
2022-12-31 23:15:00+00:00              NaN              0.0
2022-12-31 23:30:00+00:00              NaN              0.0

[35041 rows x 210 columns]

In [4]:
df = df.resample('1H').sum()
display(df)
# Restablecer el Ã­ndice jerÃ¡rquico

                                  quantity                                  \
AreaID                    10Y1001A1001A65H
UnitName                               MAW
PsrType                                B01    B04    B05   B06  B16    B17
StartTime
2021-12-31 23:00:00+00:00            468.0  215.0  331.0  37.0  1.0  169.0
2022-01-01 00:00:00+00:00            511.0  212.0  331.0  37.0  1.0  169.0
2022-01-01 01:00:00+00:00            519.0  213.0  333.0  37.0  1.0  169.0
2022-01-01 02:00:00+00:00            558.0  214.0  332.0  37.0  1.0  169.0
2022-01-01 03:00:00+00:00            468.0  215.0  332.0  37.0  1.0  169.0
...                                    ...    ...    ...   ...  ...    ...
2022-12-31 19:00:00+00:00            406.0  120.0  270.0  21.0  0.0  137.0
2022-12-31 20:00:00+00:00            323.0  114.0  229.0  19.0  0.0  137.0
2022-12-31 21:00:00+00:00            263.0  112.0  219.0  19.0  0.0  132.0
2022-12-31 22:00:00+00:00            258.0  114.0  231.0  20.0  0.0  120.0
2022-12-31 23:00:00+00:00              0.0    0.0    0.0   0.0  0.0    0.0

                                                                 ...  \
AreaID                                    10YES-REE------0       ...
UnitName                                               MAW       ...
PsrType                       B18     B19              B01  B02  ...
StartTime                                                        ...
2021-12-31 23:00:00+00:00  1875.0  1308.0            533.0  0.0  ...
2022-01-01 00:00:00+00:00  1904.0  1189.0            524.0  0.0  ...
2022-01-01 01:00:00+00:00  1738.0  1051.0            532.0  0.0  ...
2022-01-01 02:00:00+00:00  1436.0  1048.0            528.0  0.0  ...
2022-01-01 03:00:00+00:00  1505.0   878.0            533.0  0.0  ...
...                           ...     ...              ...  ...  ...
2022-12-31 19:00:00+00:00   864.0   495.0            688.0  0.0  ...
2022-12-31 20:00:00+00:00   819.0   451.0            676.0  0.0  ...
2022-12-31 21:00:00+00:00   942.0   583.0            664.0  0.0  ...
2022-12-31 22:00:00+00:00  1097.0   887.0            664.0  0.0  ...
2022-12-31 23:00:00+00:00     0.0     0.0            500.0  0.0  ...

                                      Load                        \
AreaID                    10YNL----------L      10YHU-MAVIR----U
UnitName                               MAW                   MAW
PsrType                                B19  B20              B06
StartTime
2021-12-31 23:00:00+00:00              0.0  0.0              0.0
2022-01-01 00:00:00+00:00              0.0  0.0              0.0
2022-01-01 01:00:00+00:00              0.0  0.0              0.0
2022-01-01 02:00:00+00:00              0.0  0.0              0.0
2022-01-01 03:00:00+00:00              0.0  0.0              0.0
...                                    ...  ...              ...
2022-12-31 19:00:00+00:00              0.0  0.0              0.0
2022-12-31 20:00:00+00:00              0.0  0.0              0.0
2022-12-31 21:00:00+00:00              0.0  0.0              0.0
2022-12-31 22:00:00+00:00              0.0  0.0              0.0
2022-12-31 23:00:00+00:00              0.0  0.0              0.0

                                                                \
AreaID                    10Y1001A1001A92E
UnitName                               MAW
PsrType                                B19  B04  B05  B06  B20
StartTime
2021-12-31 23:00:00+00:00              0.0  0.0  0.0  0.0  0.0
2022-01-01 00:00:00+00:00              0.0  0.0  0.0  0.0  0.0
2022-01-01 01:00:00+00:00              0.0  0.0  0.0  0.0  0.0
2022-01-01 02:00:00+00:00              0.0  0.0  0.0  0.0  0.0
2022-01-01 03:00:00+00:00              0.0  0.0  0.0  0.0  0.0
...                                    ...  ...  ...  ...  ...
2022-12-31 19:00:00+00:00              0.0  0.0  0.0  0.0  0.0
2022-12-31 20:00:00+00:00              0.0  0.0  0.0  0.0  0.0
2022-12-31 21:00:00+00:00              0.0  0.0  0.0  0.0  0.0
2022-12-31 22:00:00+00:00              0.0  0.0  0.0  0.0  0.0
2022-12-31 23:00:00+00:00              0.0  0.0  0.0  0.0  0.0


AreaID                    10YIT-GRTN-----B 10YES-REE------0
UnitName                               MAW              MAW
PsrType                                B18              B10
StartTime
2021-12-31 23:00:00+00:00              0.0              0.0
2022-01-01 00:00:00+00:00              0.0              0.0
2022-01-01 01:00:00+00:00              0.0              0.0
2022-01-01 02:00:00+00:00              0.0              0.0
2022-01-01 03:00:00+00:00              0.0              0.0
...                                    ...              ...
2022-12-31 19:00:00+00:00              0.0              0.0
2022-12-31 20:00:00+00:00              0.0              0.0
2022-12-31 21:00:00+00:00              0.0              0.0
2022-12-31 22:00:00+00:00              0.0              0.0
2022-12-31 23:00:00+00:00              0.0              0.0

[8761 rows x 210 columns]