In [9]:

from data_processing import load_data
from datetime import datetime
import pandas as pd

df = load_data('../data')

#Changing the format of Time columns and grouping Time columns by Hour
df["StartTime"] = pd.to_datetime(df["StartTime"], format="%Y-%m-%dT%H:%M%zZ")
df["EndTime"] = pd.to_datetime(df["EndTime"], format="%Y-%m-%dT%H:%M%zZ")

df["StartDayHour"] = df['StartTime'].dt.strftime('%Y-%m-%d %H')

#Replace NaN values with 0
df1 = df.copy()
df1[['Load', 'PsrType', 'quantity']] = df1[['Load', 'PsrType', 'quantity']].fillna(0)

#Filtering by green_energy PsrType
df2 = df1[df1['PsrType'].isin(["B01", "B09", "B10", "B11", "B12","B13", "B15", "B16", "B18", "B19", 0])]

#dropping useless columns
df2 = df2.drop(['StartTime','EndTime','UnitName','PsrType','UnitName'],axis=1)

#grouping rest of columns by Hour
df3 = df2.groupby(['StartDayHour', 'AreaID']).sum().reset_index()
display(df3)

        StartDayHour            AreaID  quantity      Load
0      2021-12-31 23  10Y1001A1001A65H    3652.0    3314.0
1      2021-12-31 23  10Y1001A1001A83F   37054.0   42196.0
2      2021-12-31 23  10Y1001A1001A92E       0.0     677.0
3      2021-12-31 23  10YES-REE------0    9533.0   20827.0
4      2021-12-31 23  10YHU-MAVIR----U     285.0    4254.0
...              ...               ...       ...       ...
76477  2022-12-31 23  10Y1001A1001A83F  113173.0  115263.0
76478  2022-12-31 23  10Y1001A1001A92E      75.0       0.0
76479  2022-12-31 23  10YES-REE------0   28752.0   59888.0
76480  2022-12-31 23  10YHU-MAVIR----U     571.0   11754.0
76481  2022-12-31 23  10YNL----------L    9051.0   29551.0

[76482 rows x 4 columns]